extends layout

block content
  script.
    function clickCheckbox(element) {
      if(element.checked) {
        $('#tripsitterjoin').removeClass('disabled');
      } else {
        $('#tripsitterjoin').addClass('disabled');
      }
    }
    var color = 'default';
    var kiwi = 'chat';
    function go(b) {
      var channels,
          nick = "#{anick}",
          theme = color;

      switch(b) {
        case 'assistance':
          channels = "#{achan}"
          kiwi = 'chat-assistance';
          break;
        case 'helper':
          channels = "#tripsit,#tripsit1,#tripsit2,#tripsit3,#tripsitters";
          nick = "#{anick}-ts";
          break;
        case 'sanctuary':
          channels = '#sanctuary'
          break;
        case 'stims':
          channels = '#stims,#drugs'
          break;
        case 'opiates':
          channels = '#opiates,#drugs'
          break;
        case 'psychonaut':
          channels = '#psychonaut'
          break;
        case 'general':
          channels = '#welcome,#lounge,#drugs,#sanctuary,#music'
          break;
        case 'music':
          channels = '#music,#lounge'
          break;
        case 'contrib':
          channels = '#content,#help,#lounge'
          break;
        default: break;
        case 'help':
          channels = '#help'
          break;
      }
      window.location = 'https://chat.tripsit.me/'+kiwi+'/?a=1&nick='+nick+'&'+channels;

      //-   case 'assistance':
      //-     channels = "tripsit"
      //-     nick = "#{anick}-tsme";
      //-     kiwi = 'chat-assistance';
      //-     break;
      //-   case 'helper':
      //-     channels = "tripsit,tripsit1,tripsit2,tripsit3,tripsitters";
      //-     nick = "#{anick}-ts";
      //-     break;
      //-   case 'sanctuary':
      //-     channels = 'sanctuary'
      //-     break;
      //-   case 'stims':
      //-     channels = 'stims,drugs'
      //-     break;
      //-   case 'opiates':
      //-     channels = 'opiates,drugs'
      //-     break;
      //-   case 'psychonaut':
      //-     channels = 'psychonaut'
      //-     break;
      //-   case 'general':
      //-     channels = 'welcome,lounge,drugs,sanctuary,music'
      //-     break;
      //-   case 'music':
      //-     channels = 'music,lounge'
      //-     break;
      //-   case 'contrib':
      //-     channels = 'content,help,lounge'
      //-     break;
      //-   default: break;
      //-   case 'help':
      //-     channels = 'help'
      //-     break;
      //- }
      //- window.location = 'https://lounge.tripsit.me/?nick='+nick+'&username='+nick+'&realname=LoungeUser&leaveMessage=Dose%20Responsibly!&join='+channels;
    }
  .container-fluid
    .alert.alert-warning(style='text-align:center') Do you use a VPN? Try using 
      a(target="_blank" href="https://wiki.tripsit.me/wiki/IRC_User_Guide#Set_up_SASL") SASL with a desktop client
      span  to avoid broad VPN abuse bans.
    .jumbotron
      center
       .row
          .col-md-3 
            p(style='font-size:24px;line-height: 140%;') TripSit Discord Chat
          .col-md-9
            p(style='font-size:24px;line-height: 140%;') TripSit IRC Chat
       .row
          .col-xs-12.col-md-3
            iframe(src='https://discord.com/widget?id=179641883222474752&theme=dark' width='350' height='500' allowtransparency='true' frameborder='0' sandbox='allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts')
          .col-xs-12.col-md-3
              button.btn.bs-callout.bsbutton.bs-callout-gen(onclick='javascript:go("general")')
                h1 General
                p.subtex Click here for the general community chat, about life, drugs, harm reduction and anything else.
          .col-xs-12.col-md-3
              button.btn.bs-callout.bsbutton.bs-callout-ass(onclick='javascript:go("assistance")')
                h1 Assistance
                p.subtex Taken drugs or have questions about taking drugs? Concerned about something? Click here.
          .col-xs-12.col-md-3
              button.btn.bs-callout.bsbutton.bs-callout-trip(onclick='javascript:go("sanctuary")')
                h1 Sanctuary
                p.subtex Click here if you're in need of a slower, calmer chat. Great if you're tripping or just need to relax.
          .col-xs-12.col-md-6
           .bs-callout.bs-callout(style="margin-bottom:0")
             h3.text-center Other Channels
          .col-xs-12.col-md-3
           .bs-callout.bs-callout(style="margin-bottom:0")
             h3.text-center Team Contacts
          .col-xs-12.col-md-3
            button.btn.bs-callout.bsbutton.bs-callout-stim(onclick='javascript:go("stims")')
              h3 Stim Chat
              p Chat on and about stimulants
          .col-xs-12.col-md-3
            button.btn.bs-callout.bsbutton.bs-callout-opiate(onclick='javascript:go("opiates")')
              h3 Opiates Chat
              p Chat about opiates and addiction
          .col-xs-12.col-md-3
            button.btn.bs-callout.bsbutton.bs-callout-contrib(onclick='javascript:go("contrib")')
              h3 Contribution & Feedback
              p Share suggestions and feedback here
          .col-xs-12.col-md-3
            button.btn.bs-callout.bsbutton.bs-callout-psychonaut(onclick='javascript:go("psychonaut")')
              h3 Psychonautics Chat
              p Spiritual, mindful chat
          .col-xs-12.col-md-3
            button.btn.bs-callout.bsbutton.bs-callout-music(onclick='javascript:go("music")')
              h3 Music Chat
              p Share and discover music
          .col-xs-12.col-md-3
            button.btn.bs-callout.bsbutton.bs-callout-help(onclick='javascript:go("help")')
              h3 IRC/Network Help
              p Receive help for TripSit-IRC issues
          div.clearfix
      center
        .bs-callout.bs-callout
          p(style='font:14px;') Remember to be kind to your fellow trippers, and don't name drug sources. Read the full rules 
            a(target="_blank" href='https://wiki.tripsit.me/wiki/Rules') here
            span .
        a(target="_blank" href='https://chat.tripsit.me/chat/') Click here for the regular login page
